* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .logo {
    font-size: 26px;
    font-weight: 700;
    color: rgb(255, 145, 0);
}

.title {
    color: black;
}

/* Links - Desktop */
.nav-links {
    display: flex;
    gap: 25px;
}
.nav-items:hover {
    color: rgb(255, 145, 0);
}
.nav-items {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.shopping-btn {
    background-color: rgb(255, 145, 0);
    border-radius: 50px;
    padding: 0.6rem 1rem;
    display: flex;
    gap: 12px;
    align-items: center;
}

.btn, .menu-btn {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-btn {
    display: none;
}

@media screen and (max-width: 760px) {

    .nav-links {
        display: none;
        position: absolute;
        right: 0;
        top: 70px;
        width: 180px;
        background: white;
        padding: 40px;
        flex-direction: column;
        gap: 15px;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    }

    .nav-links.active {
        display: flex;
    }

    #shopping-logo {
        display: none;
    }

    .menu-btn {
        display: block;
        font-size: 26px;
    }

    .shopping-btn {
        padding: 0.6rem 0.8rem;
        display: none;
    }
}
.Home {
    display: flex;
    align-items: center;
    padding: 0 5%;
    margin-top: 65px;
    
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 4rem;
}
.left-box {
    max-width: 500px;
    text-align: left; /* important */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}
.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    animation: slideFromLeft 2s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft{
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
        
    }

.head {
    color: rgb(255, 145, 0);
}
.para {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
}

.start-btn {
    background-color: rgb(255, 145, 0);
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.right-box img {
    width: 450px;
    height: 405px;
    border-radius: 55%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    padding: 2rem;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
    .Home {
        margin-top: 50px;
    }
    .content {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    .left-box {
        text-align: center;
        align-items: center;
    }

    .right-box img {
        width: 280px;
    }
}


















